/* CSS cusotmization for jPipe language code blocks */
code.language-jpipe.hljs {
    font-size: 0.9em;
    line-height: 1.2;
}

/* Always ustify text in paragraphs */
p {
    text-align: justify;
}

/* Except in tutorial/doc cards title */
p.p-summary {
    text-align: left;
}


section.page__content.e-content {
    line-height: 1.2;
    font-size: 0.8em;
}

div.highlighter-rouge, figure.highlight {
    line-height: 1.2;
    font-size: 0.9em;
}

